<div class="row">
    <div class="search">
        <h3><span translate>artists.text1</span></h3>
        <form>
            <input [(ngModel)] = "artistName" type="text" name="artistName" placeholder="Nom de l'artiste" >
            <button (click)="getArtist()"><span translate>artists.text2</span></button>
            
        </form>
    </div>
    <div class="display">
        <h3><span translate>artists.text3</span></h3>
        <div class="row">
            <!-- Liste d'artistes ajoutés aux favoris -->
            <div *ngFor="let a of spotify.favoriteArtists">
                <h4>{{a.name}}</h4>
                <img src="{{a.imageUrl}}" alt="{{a.name}}">
                <a [routerLink]="['/albums', a.name]"><button >Albums</button></a><a [routerLink]="['/shows', a.name]"><button><span translate>artists.text4</span></button></a>
            </div>

        </div>
        <button *ngIf="spotify.favoriteArtists.length > 0" (click)="spotify.clearFavorites()"><span translate>artists.text5</span></button>
    </div>
</div>