<h3><span translate>shows.text1</span> {{artistName}}</h3>
    <div class="row">
        <google-map [center]="center" [zoom]="zoom" [width]="990" class="map">
            <map-marker *ngFor="let m of markerPositions" [position]="m"></map-marker>
        </google-map>
        <div class="shows">

                <!-- Liste des concerts -->
            <div *ngFor="let s of shows">
                <h3>{{s.name}}</h3>
                <h4>{{s.date}}</h4>
                <p>{{s.country}}</p>
                <p>{{s.city}}</p>
            </div>
        </div>           
    </div>