<header>
  <div class="row">
      <div><a href="/artists"><span translate>app.text1</span></a></div>
      <div class="spacer"></div>
      <div>
          <select name="language" [(ngModel)]="language" id="language" (click)="changeLanguage()">
              <option value="fr-ca" >Français</option>
              <option value="en-us">English</option>
          </select>
      </div>
  </div>
</header>
<main>

  
  <router-outlet></router-outlet>


</main>
<footer>
  <div>
      &copy;<span translate>app.text2</span> 
  </div>
</footer>