<h3>Chansons de l'album {{albumName}}</h3>
    <div class="row">
        <div class="youtubePlayer">
            <app-youtubeplayer [videoId]="videoId"></app-youtubeplayer>
        </div>
        <div class="songs">
            <div class="songList">
                
                <!-- Liste de chansons d'un album choisi -->
                <div *ngFor="let s of songs">
                    <p>{{s.name}}</p><br>
                    <button (click)="setCurrentSong(s.id)">Jouer</button>
                </div>
            </div>
        </div>
    </div>